<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Phoenix Starter - Saascasts.io template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-expand-md shadow navbar-light fixed-top bg-light">
        <%= link "Phoenix Starter", to: Routes.page_path(@conn, :index), class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link "Home", to: Routes.page_path(@conn, :index), class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link "Secret page", to: Routes.page_path(@conn, :protected), class: "nav-link" %>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main" class="flex-shrink-0 mt-5">
      <div class="container">

        <%= if get_flash(@conn, :info) do %>
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <% end %>

        <%= if get_flash(@conn, :error) do %>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <% end %>

        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-dark">
      <div class="container text-center">
        <small class="text-muted"><%= DateTime.utc_now.year %></small>
      </div>
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
